@media screen and (max-width: 320px) {
    .testimonial {
        &__footer {
            flex-direction: column;

            &-right {
                margin-top: 1rem;
                justify-content: flex-end;
            }
        }
    }
}
