.btn-outline {
    @include button-normal();
    background-color: none;
    color: white !important;
    border: 1px solid $primary !important;

    &:hover {
        color: $primary !important;
    }

    &--small {
        @include button-small();
        border: 1px solid $primary !important;
        color: white !important;
        background-color: none;

        &:hover {
            color: $primary !important;
        }
    }
}

.btn-primary {
    @include button-normal();
    background-color: $primary !important;
    color: white !important;
    border: none;

    &:hover {
        background-color: $primaryDark !important;
    }

    &--small {
        @include button-small();
        background-color: $primary !important;
        color: white !important;
        border: none;

        &:hover {
            background-color: $primaryDark !important;
        }
    }
}

.btn-gray {
    @include button-small();
    border: 1px solid $borderGrey;
    background-color: $borderGrey;
    color: white !important;
    aspect-ratio: square;
}
