// Text Light
$textLight: #e5e9f0;
$textLightSecondary: #8eaad7;

// Text Dark
$textDark: #051631;
$textDarkSecondary: #567099;

// Primary Color
$primaryLight: #cee1ff;
$primaryDark: #003ea0;
$primary: #0062ff;

// Border Color
$borderGrey: #e2e2e2;
